{% extends 'trainerIndex.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get">
<table width="200" border="1">
  <tr>
    <th scope="row"><a href="/viewprofile">View Profile</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/viewassignedbatch">View Assigned Batch</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/addtips">Add Tips</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/viewtips/">View Tips</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/addworkout">Add Workout</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/viewworkout">View Workout</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="#">Chat with User</a></th>
  </tr>
</table>
</form>
</body>
</html>
{% endblock %}
