{% extends 'trainerIndex.html' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stylish Trainer Table</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Include your custom CSS if needed -->

</head>
<body class="b16">
    <div class="container">
    <h2 style="color: white;text-align: center;">View Members</h2>
        <div class="table-container">
            <table class="table table-borderless" style="background-color: white;" border="1">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Place</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Occupation</th>
                        <th>Mobile Number</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in data %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ i.name }}</td>
                        <td>{{ i.place }}</td>
                        <td>{{ i.age }}</td>
                        <td>{{ i.sex }}</td>
                        <td>{{ i.occupation }}</td>
                        <td>{{ i.mobilenumber }}</td>
                        <td>{{ i.email }}</td>

                        <td>
                            <a href="/viewhealthinfo/{{i.id}}#abc" class="btn btn-dark pl-1  pr-1">Health Info <i class="fa fa-medkit" aria-hidden="true"></i></a>
                            <a href="/chattrainer/{{i.id}}#abc" class="btn btn-primary mt-1 pl-4 pr-4">Chat  &nbsp;<i class="fa fa-comment"></i></a>

                        </td>
                    </tr>

                    {% endfor %}



                </tbody>
            </table>
        <a href="/viewassignedbatch/#abc" class="btn btn-primary " style="width: 100%">Back</a>

        </div>

    </div>

    <!-- Include Bootstrap JS and any other scripts if needed -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
{% endblock %}
