{% extends 'trainerIndex.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<h2 style="color: white;text-align: center;">View Diet Plan</h2>
<table class="table table-borderless" style="background-color: white;" border="1">
  <tr>
    <th width="48" scope="col">Date</th>
    <th width="123" scope="col">Time</th>
    <th width="185" scope="col">Description</th>
    <th width="185" scope="col">Action</th>
  </tr>
    {% for i in data %}
  <tr>
    <td>{{ i.date }}&nbsp;</td>
    <td>{{ i.title }}&nbsp;</td>
    <td>{{ i.description }}&nbsp;</td>
    <td><a href="/editdietplan/{{ i.id }}#abc" class="btn btn-primary">Edit</a>
   <a href="/deletedietplan/{{ i.id }}#abc" class="btn btn-danger">Delete</a> </td>

  </tr>
    {% endfor %}
</table>
<a href="/uploaddietplan/{{ data.0.id }}/{{ data.0.USER.id }}#abc"  style="width: 100%" class="btn btn-primary mt-1">Back</a>

</body>
</html>

{% endblock %}
