{% extends user/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="200" border="1">
  <tr>
    <td scope="col"><a href="addtrainer">Add Trainer</a></td>
  </tr>
  <tr>
    <td><a href="viewtrainer">View Trainer</a></td>
  </tr>
  <tr>
    <td><a href="addbatch">Add Batch</a></td>
  </tr>
  <tr>
    <td><a href="viewbatch">View Batch</a></td>
  </tr>

  <tr>
    <td><a href="viewfeedback">View Feedback</a></td>
  </tr>

</table>
</body>
</html>
{% endblock %}