{% extends 'index.html' %}
{% block body %}


    <h2 style="color: white;text-align: center;">View Trainer</h2>

            <table class="table table-borderless" style="background-color: white;" border="1">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Qualification</th>
                        <th>Experience</th>
                        <th>Contact Info</th>

                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in data %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ i.name }}</td>
                        <td>{{ i.place }}<br>{{ i.pin }}<br>{{ i.post }}</td>
                        <td>{{ i.age }}</td>
                        <td>{{ i.sex }}</td>
                        <td>{{ i.qualification }}</td>
                        <td>{{ i.experience }}</td>
                        <td>{{ i.mobilenumber }}<br>{{ i.email }}</td>

                        <td>
                            <a href="/edittrainer/{{ i.id }}#abc" class="btn btn-primary pl-4" >Edit  <i class="fa fa-pencil" aria-hidden="true" ></i></a>
                            <a href="/deletetrainer/{{ i.id }}#abc" class="btn btn-danger mt-1 pl-2">Delete <i class="fa fa-trash" aria-hidden="true"></i></a>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
<a href="/adminhome" class="btn btn-primary">Back</a>
{#    <!-- Include Bootstrap JS and any other scripts if needed -->#}
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>#}
{#    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>#}
{#</body>#}
{#</html>#}



{% endblock %}